#@layout()

#define script()
<script>

    function doDel(id) {
        ajaxGet("#(CPATH)/admin/article/meta/doMetaDel?id=" + id);
    }

    $("#batchDel").click(function () {
        var ids = getSelectedIds();
        if (ids == "") {
            alert('您未选择任何内容');
            return
        }
        ajaxGet("#(CPATH)/admin/article/meta/doMetaDelByIds?ids=" + ids);
    })


</script>
#end

#define content()
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            元信息管理
            <small>Article Meta Manager</small>
        </h1>
    </section>

    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">

                        <div class="row actionPanel">
                            <div class="col-xs-12">
                                <a href="#(CPATH)/admin/article/meta/edit" class="btn btn-primary ">
                                    <i class="fa fa-fw fa-plus"></i> 新建
                                </a>
                                <button type="submit" id="batchDel" class="btn btn-default checkAction"> 批量删除</button>
                            </div>
                        </div>

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body ">

                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th style="width: 10px">
                                    <input name="dataItem" onchange="checkAll(this)" type="checkbox"/>
                                </th>
                                <th style="width: 30%">名称</th>
                                <th>类型</th>
                                <th>ID属性</th>
                                <th>排序</th>
                                <th>备注</th>
                            </tr>
                            #for(meta : page.list)
                            <tr class="jp-actiontr">
                                <td><input class="dataItem" type="checkbox" value="#(meta.id)" onchange="dataItemChange(this)"/>
                                </td>
                                <td>
                                    <strong>
                                        <a href="#(CPATH)/admin/article/meta/edit?id=#(meta.id)"> #(meta.label ??) </a>
                                        #if(!meta.isEnable())
                                        （未启用）
                                        #end
                                    </strong>
                                    <div class="jp-actionblock">
                                        <div class="jp-actionitem">
                                            <a href="#(CPATH)/admin/article/meta/edit?id=#(meta.id)">编辑</a> |
                                            <a href="javascript:;" class="red-action" onclick="doDel('#(meta.id)')">删除</a>
                                        </div>
                                    </div>
                                </td>
                                <td>#(meta.type ??)</td>
                                <td>#(meta.field_id ??)</td>
                                <td>#(meta.order_no ??)</td>
                                <td>#(meta.remarks ??)</td>
                            </tr>
                            #end
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-12">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>

    </section>
</div>
#end
