<header class="main-header">
    <!-- Logo -->
    <a href="#(CPATH)/ucenter" class="logo">
        <span class="logo-mini"><b>TCSC</b></span>
        <span class="logo-lg"><b>#option('web_name','TCSC')</b></span>
    </a>
    <nav class="navbar navbar-static-top">
        #if(showToggle)
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only"></span>
        </a>
        #end

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a href="#(CPATH)/ucenter/index">
                        <img src="#(USER.avatar ??)" class="user-image">
                        <span class="hidden-xs">#(_res.format("ucenter_header_welcome", user.nickname ??))</span>
                    </a>
                </li>
                
                <li class="language-zh">
                	<a href="javascript:;" onclick="doChangeLanguage('zh_CN')">
                		<img src="#(CPATH)/static/commons/img/china.png" class="language-icon">
                		<span class="hidden-xs">中</span>
                	</a>
                </li>
                
                <li class="language-ja">
                	<a href="javascript:;" onclick="doChangeLanguage('ja_JP')">
                		<img src="#(CPATH)/static/commons/img/japan.png" class="language-icon">
                		<span class="hidden-xs">日</span>
                	</a>
                </li>
                
                <li style="border-left: 1px solid #ccc;">
                    <a href="#(CPATH)/ucenter/logout">
                        <i class="fa fa-fw fa-circle-o-notch"></i>#(_res.get("ucenter_header_log_out"))
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>