<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree" id="sidebar-menu">
            <li class="block"></li>
            <li class="link">
                <a href="#(CPATH)/ucenter/index"><i class="fa fa-fw fa-home"></i> <span>#(_res.get("ucenter_menu_home"))</span></a>
            </li>

            <li class="header">#(_res.get("ucenter_menu_my_content"))</li>
            
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-fw fa-file-text"></i><span>#(_res.get("ucenter_menu_my_articles"))</span>
                    <span class="pull-right-container">
                       <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                    	<a href="/ucenter/article" target="">#(_res.get("ucenter_menu_articles_list"))</a>
                    </li>
                    <li>
                    	<a href="/ucenter/article/write" target="">#(_res.get("ucenter_menu_write_article"))</a>
                    </li>
                </ul>
            </li>
            
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-fw fa-commenting"></i><span>#(_res.get("ucenter_menu_my_comments"))</span>
                    <span class="pull-right-container">
                       <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                    	<a href="/ucenter/article/comment" target="">#(_res.get("ucenter_menu_article_comments"))</a>
                    </li>
                </ul>
            </li>

            <li class="header">#(_res.get("ucenter_menu_profile"))</li>
            <li class="link">
                <a href="#(CPATH)/ucenter/info"><i class="fa fa-fw fa-user"></i> <span>#(_res.get("ucenter_menu_basic_info"))</span></a>
            </li>
            <li class="link">
                <a href="#(CPATH)/ucenter/signature"><i class="fa fa-fw fa-bars"></i> <span>#(_res.get("ucenter_menu_self_introduction"))</span></a>
            </li>
            <li class="link">
                <a href="#(CPATH)/ucenter/avatar"><i class="fa fa-fw fa-black-tie"></i> <span>#(_res.get("ucenter_menu_avatar"))</span></a>
            </li>
            <li class="link">
                <a href="#(CPATH)/ucenter/pwd"> <i class="fa fa-fw fa-key"></i> <span>#(_res.get("ucenter_menu_password"))</span></a>
            </li>


        </ul>
    </section>
    <!-- /.sidebar -->
</aside>