#define _ucenter_paginate()
<ul class="pagination pull-right">
    #adminPaginate()
	    #for(page : pages)
	    	#if(for.first)
			    <li class="paginate_button #(page.style ??)">
			        <a href="#(page.url??)">#(_res.get("ucenter_paginate_previous_text"))</a>
			    </li>
			#else if(for.last)
				<li class="paginate_button #(page.style ??)">
			        <a href="#(page.url??)">#(_res.get("ucenter_paginate_next_text"))</a>
			    </li>
			#else
				<li class="paginate_button #(page.style ??)">
			        <a href="#(page.url??)">#(page.text??)</a>
			    </li>
			#end
	    #end
    #end
</ul>
#end


