<footer class="main-footer">
    <div class="pull-right hidden-xs">
        version #(VERSION)
    </div>
    Copyright &copy; 2016-2023 <a href="https://www.tcsc-jp.com" target="_blank">TCSC Co.,Ltd </a>All Rights Reserved.
</footer>
