#@ucenter_layout()

#define script()
<script>

</script>
#end
#define content()
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            #(_res.get("ucenter_index_title"))
            <small>User Center</small>
        </h1>
    </section>

    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">

                    <div class="box-header ">
                        <h3 class="box-title"></h3>
                    </div>

                    <div class="box-body form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">#(_res.get("ucenter_index_email"))</label>

                            <div class="col-sm-10">
                                <div class="form-text">
                                    #if(user.email )
                                      #(user.email )
                                    #else
                                      #(_res.format("ucenter_index_email_msg","<a href='" + CPATH + "/ucenter/info'>","</a>"))
                                    #end
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">#(_res.get("ucenter_index_phone_number"))</label>

                            <div class="col-sm-10">
                                <div class="form-text">
                                    #if(user.mobile )
                                    	#(user.mobile)
                                    #else
                                    	#(_res.format("ucenter_index_phone_number_msg","<a href='" + CPATH + "/ucenter/info'>","</a>"))
                                    #end
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>

        </div>

    </section>

</div>
#end
