#@ucenter_layout()

#define content()
<div class="content-wrapper">

    <section class="content-header">
        <h1>
           #(_res.get("ucenter_info_title"))
            <small>My Profile</small>
        </h1>
    </section>

    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">


                    <div class="box-header ">
                        <h3 class="box-title"></h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form class="form-horizontal" autocomplete="off" id="form" action="#(CPATH)/ucenter/doSaveUser">
                        <div class="box-body ">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">#(_res.get("ucenter_info_account"))</label>

                                <div class="col-sm-7">
                                    <input type="input" class="form-control" value="#(user.username ??)" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">#(_res.get("ucenter_info_nickname"))</label>

                                <div class="col-sm-7">
                                    <input type="input" class="form-control" placeholder=""
                                           value="#(user.nickname ??)" name="user.nickname">
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label">#(_res.get("ucenter_info_realname"))</label>

                                <div class="col-sm-7">
                                    <input type="input" class="form-control" placeholder=""
                                           name="user.realname" value="#(user.realname ??)">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">#(_res.get("ucenter_info_email"))</label>

                                <div class="col-sm-7">
                                    <input type="input" class="form-control" placeholder=#(_res.get("ucenter_info_email_placeholder"))
                                           name="user.email" value="#(user.email ??)">
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">#(_res.get("ucenter_info_phone_number"))</label>

                                <div class="col-sm-7">
                                    <input type="input" class="form-control" placeholder=""
                                           name="user.mobile" value="#(user.mobile ??)">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">#(_res.get("ucenter_info_address"))</label>

                                <div class="col-sm-7">
                                    <input type="input" class="form-control" placeholder=""
                                           name="user.address" value="#(user.address ??)">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">#(_res.get("ucenter_info_zipcode"))</label>

                                <div class="col-sm-7">
                                    <input type="input" class="form-control" placeholder=""
                                           name="user.zipcode" value="#(user.zipcode ??)">
                                </div>
                            </div>
                            
                             <div class="form-group">
                                <label class="col-sm-2 control-label">#(_res.get("ucenter_info_identity"))</label>

                                <div class="col-sm-7">
                                    <input type="input" class="form-control" placeholder=""
                                           value="#(user.identity ??)" name="user.identity">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">#(_res.get("ucenter_info_graduate_school"))</label>

                                <div class="col-sm-7">
                                    <input type="input" class="form-control" placeholder=""
                                           name="user.graduateschool" value="#(user.graduateschool ??)">
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-2 control-label">#(_res.get("ucenter_info_education"))</label>

                                <div class="col-sm-7">
                                    <input type="input" class="form-control" placeholder=""
                                           name="user.education" value="#(user.education ??)">
                                </div>
                            </div>


                        </div>

                        <div class="box-footer">
                            <div class="col-sm-offset-2 col-sm-10 submit-block">
                                <div class="box-submit">
                                    <button type="submit" class="btn btn-primary">#(_res.get("ucenter_info_btn_submit"))</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </section>

</div>
#end
