#@ucenter_layout()

#define script()
<script>

</script>
#end
#define content()
<div class="content-wrapper">

    <section class="content-header">
        <h1>
           #(_res.get("ucenter_pwd_title"))
            <small>My Password</small>
        </h1>
    </section>

    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">

                    <div class="box-header ">
                        <h3 class="box-title"></h3>
                    </div>
                    <form class="form-horizontal" autocomplete="off" id="form" action="#(CPATH)/ucenter/doUpdatePwd">
                        <div class="box-body ">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">#(_res.get("ucenter_pwd_current_password"))</label>
                                <div class="col-sm-7">
                                    <input type="input" class="form-control" placeholder=#(_res.get("ucenter_pwd_current_password_placeholder")) name="oldPwd">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">#(_res.get("ucenter_pwd_new_password"))</label>
                                <div class="col-sm-7">
                                    <input type="input" class="form-control" placeholder=#(_res.get("ucenter_pwd_new_password_placeholder")) name="newPwd">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">#(_res.get("ucenter_pwd_confirm_password"))</label>
                                <div class="col-sm-7">
                                    <input type="input" class="form-control" placeholder=#(_res.get("ucenter_pwd_confirm_password_placeholder")) name="confirmPwd">
                                </div>
                            </div>

                        </div>

                        <div class="box-footer">
                            <div class="col-sm-offset-2 col-sm-10 submit-block">
                                <div class="box-submit">
                                    <button type="submit" class="btn btn-primary">#(_res.get("ucenter_pwd_btn_submit"))</button>
                                </div>
                            </div>
                        </div>

                    </form>
                    

                </div>
            </div>

        </div>

    </section>

</div>
#end
