#@ucenter_layout()

#define script()
<script>

</script>
#end
#define content()
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            #(_res.get("ucenter_signature_title"))
            <small>Self introduction</small>
        </h1>
    </section>

    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header ">
                        <h3 class="box-title"></h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form class="form-horizontal" autocomplete="off" id="form" action="#(CPATH)/ucenter/doSaveUser">
                        <div class="box-body ">

                            <div class="form-group">
                                <label class="col-sm-2 control-label">#(_res.get("ucenter_signature_title"))</label>

                                <div class="col-sm-7">
                <textarea rows="5" class="form-control" placeholder=""
                          name="user.signature">#(user.signature ??)</textarea>
                                </div>
                            </div>

                        </div>

                        <div class="box-footer">
                            <div class="col-sm-offset-2 col-sm-10 submit-block">
                                <div class="box-submit">
                                    <button type="submit" class="btn btn-primary">#(_res.get("ucenter_signature_btn_submit"))</button>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>
            </div>

        </div>

    </section>

</div>
#end
