#@ucenter_layout()
#define script()
<script>
    function del(id) {
        if (confirm('#(_res.get("ucenter_article_delete_msg"))')) {
            ajaxGet("#(CPATH)/ucenter/article/doDel/" + id)
        }
    }
</script>

#end

#define content()
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            #(_res.get("ucenter_article_list_title"))
            <small>Article Management</small>
        </h1>
    </section>


    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">

                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th style="width: 350px">#(_res.get("ucenter_article_list_th_title"))</th>
                                <th>#(_res.get("ucenter_article_list_th_category"))</th>
                                <th>#(_res.get("ucenter_article_list_th_tag"))</th>
                                <th><i class="fa fa-commenting"></i></th>
                                <th>#(_res.get("ucenter_article_list_th_datetime"))</th>
                            </tr>
                            #for(article : page.list ??)
                            <tr class="jp-actiontr">
                                <td>
                                    <strong>
                                        #if(article.isNormal())
                                        <a href="#(article.url ??)" target="_blank">#(article.title ??)</a>
                                        #else
                                        <a href="#(CPATH)/ucenter/article/write/#(article.id)">#(article.title ??)</a>
                                        	#(_res.get("ucenter_article_list_a_pending"))
                                        #end
                                    </strong>

                                    #if(!article.isNormal())
                                    <div class="jp-actionblock">
                                        <div class="">
                                            <a href="#(CPATH)/ucenter/article/write/#(article.id)">#(_res.get("ucenter_article_list_a_edit"))</a> |
                                            <a href="javascript:;" onclick="del('#(article.id??)')" class="red-action">#(_res.get("ucenter_article_list_a_delete"))</a>
                                        </div>
                                    </div>
                                    #end

                                </td>
                                <td>
                                    #articleCategories(article.id,"category")
                                    #for(category : categories)
                                    <a href="#(category.url ??)" target="_blank">#(category.title ??)</a>
                                    #if(!for.last) , #end
                                    #end
                                    #end
                                </td>
                                <td>
                                    #articleCategories(article.id,"tag")
                                    #for(category : categories)
                                    <a href="#(category.url ??)" target="_blank">#(category.title ??)</a>
                                    #if(!for.last) , #end
                                    #end
                                    #end
                                </td>
                                <td>#(article.comment_count ??)</td>
                                <td>#date(article.created)</td>
                            </tr>
                            #end
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                #@_ucenter_paginate()
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>

    </section>


</div>
#end
