#@ucenter_layout()
#define script()
<script>
    function doDelComment(id) {
        if (confirm('#(_res.get("ucenter_comment_delete_msg"))')) {
            ajaxGet("#(CPATH)/ucenter/article/doCommentDel?id=" + id)
        }
    }

</script>
#end

#define css()
<style>
    strong p {
        display: inline;
    }
</style>
#end

#define content()
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            #(_res.get("ucenter_comment_title"))
            <small>Article Comments</small>
        </h1>
    </section>


    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body ">

                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th style="width: 40%">#(_res.get("ucenter_comment_th_detail"))</th>
                                <th>#(_res.get("ucenter_comment_th_reply_to"))</th>
                                <th style="width: 50px"><i class="fa fa-commenting"></i></th>
                                <th style="width: 90px">#(_res.get("ucenter_comment_th_datetime"))</th>
                                <th style="width: 90px">#(_res.get("ucenter_comment_th_option"))</th>
                            </tr>
                            #for(comment : page.list ??)
                            <tr class="jp-actiontr">
                                <td>
                                    #(comment.content ??)
                                    <strong>
                                        #if(comment.isUnaudited()) 
                                        	#(_res.get("ucenter_comment_pending"))
                                        #end
                                    </strong>
                                </td>
                                <td>
                                    <a href="#(comment.article.url ??)" target="_blank">
                                        #(comment.article.title ??)
                                    </a>
                                </td>
                                <td>#(comment.comment_count ??)</td>
                                <td>#date(comment.created)</td>
                                <td><a href="javascript:;" onclick="doDelComment('#(comment.id)')" >#(_res.get("ucenter_comment_btn_delete"))</a></td>
                            </tr>
                            #end

                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                #@_ucenter_paginate()
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>

    </section>


</div>
#end
