.layout-boxed {
    background: #eee;
}

.layout-boxed .wrapper {
    max-width: 1250px;
    margin: 0 auto;
    min-height: 100%;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    position: relative;
}

.content-wrapper {
    background-color: #f7f7f7;
}

.main-footer {
    background: #f7f7f7;
    padding: 5px 15px;
    color: #444;
    border-top: none;
    font-size: 12px;
}


.skin-black-light .sidebar-menu > li:hover > a, .skin-black-light .sidebar-menu > li.active > a {
    color: #000;
    background: #e6e6e6;
}

.skin-black-light .main-header > .logo {
    border-right: none;
}

.skin-black-light .main-header .navbar > .sidebar-toggle {
    border-right: none;
}

.skin-black-light .main-header .navbar .navbar-custom-menu .navbar-nav > li > a, .skin-black-light .main-header .navbar .navbar-right > li > a {
    border-left: none;
}

.form-text {
    padding: 7px 14px;
    font-size: 14px;
}

.jp-actionblock {
    min-height: 25px;
    line-height: 25px;
}

.jp-actionitem {
    display: none;
}

.jp-actionitem a {
    font-size: 13px;
    font-weight: 400;
    color: #006505;
}

.red-action {
    color: #a00 !important;
}
.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a:hover{
    background-color: #eee;
}
.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a{
    border-bottom: 1px solid #ccc;
}

.header-home{
    line-height: 48px;
    padding-left: 18px;
    font-size: 15px;
    color: #333;
}
.header-home:hover{
    color: #999;
}

.box-dashboard {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border: 1px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
}

.box-primary>.box-header{
    margin-top: 20px;
}

.box-dashboard .box-header .box-title {
    display: inline-block;
    font-size: 14px;
    margin: 0;
    line-height: 1;
}
.invoice {
    position: relative;
    background: #fff;
    border: 1px solid #f4f4f4;
    padding: 20px;
    margin: 10px;
}
.language-icon {
	width: 25px;
	height: 25px;
	margin-right: 2px;
	margin-top: -2px;
}
.language-zh,.language-ja{
	border-left: 1px solid #ccc;
}