#@layout()

#define script()
<script>


    function doDel(id) {
        if (confirm('确定要删除该会员吗？删除后不可恢复')) {
            ajaxGet("#(CPATH)/admin/club/doDelMember?id=" + id)
        }
    }

    $("#batchDel").click(function () {
        var ids = getSelectedIds();
        if (ids == "") {
            alert('您未选择任何内容');
            return
        }
        if (confirm('确定要删除该会员吗？删除后不可恢复')) {
            ajaxGet("#(CPATH)/admin/club/doDelMemberByIds?ids=" + ids)
        }
    })




</script>
#end

#define content()
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            会员管理
            <small>Member Management</small>
        </h1>
    </section>

    <section class="content-header text-tap">
        全部会员 (#(totalCount ?? 0))
    </section>

    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <form class="form-horizontal actionPanel" action="#(CPATH)/admin/user" method="get">
                            <input type="hidden" name="status" value="#para('status')">
                            <div class="row">
                                <div class="form-group col-lg-4">
                                    <label class="col-sm-3 control-label">用户名</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="username" value="#para('username')">
                                    </div>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label class="col-sm-3 control-label">邮箱</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="email" value="#para('email')">
                                    </div>
                                </div>
                                <div class="form-group col-lg-4">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-primary ">查询</button>
                                        <button type="reset" class="btn btn-default">重置</button>
                                        <a class="btn"> 更多<i class="fa fa-fw fa-angle-down"></i> </a>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </form>

                        <div class="row actionPanel">
                            <div class="col-xs-12">
                                <a href="#(CPATH)/admin/club/memberEdit" class="btn btn-primary "> <i
                                        class="fa fa-fw fa-plus"></i> 新建</a>
                                <button type="button" id="batchDel" class="btn btn-default checkAction"> 批量删除</button>
                            </div>
                        </div>

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body ">

                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th style="width: 10px">
                                    <input name="dataItem" onchange="checkAll(this)" type="checkbox"/>
                                </th>
                                <th style="width: 20%">登录名</th>
                                <th>昵称</th>
                                <th>会员组</th>
                                <th>来源</th>
                                <th style="width: 100px">加入时间</th>
                                <th style="width: 100px">到期时间</th>
                            </tr>

                            #for(member : page.list )
                            <tr class="jp-actiontr">
                                <td>
                                    <input class="dataItem" type="checkbox" value="#(member.id)"
                                           onchange="dataItemChange(this)"/>
                                </td>
                                <td>
                                    <strong>
                                        #if(member.user.username ??)
                                        <a href="#(CPATH)/admin/user/detail/#(member.id)">
                                            #(member.user.username ??)
                                        </a>
                                        #else
                                        无用户名
                                        #end
                                        #if(member.user && member.user.isStatusReg()) （未激活） #end
                                        #if(member.user && member.user.isStatusLocked()) （已冻结） #end
                                    </strong>

                                    <div class="jp-actionblock">
                                        <div class="jp-actionitem">
                                            <a href="#(CPATH)/admin/club/memberEdit/#(member.id)"
                                               style="color: #006505">编辑</a> |
                                            <a href="javascript:;" onclick="doDel('#(member.id)')"
                                               style="color: #a00">删除</a> |
                                            <a href="#(member.user.detailUrl ??)"
                                               style="color: #a00">查看</a>
                                        </div>
                                    </div>
                                </td>
                                <td>#(member.user.nickname ??)</td>
                                <td>#(member.type.title ??)</td>
                                <td>#(member.create_source ??)</td>
                                <td>#date(member.created ??)</td>
                                <td>#date(member.duetime ??)</td>
                            </tr>
                            #end

                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                #@_paginate()
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>

    </section>


</div>
#end
