#@layout()
#define content()
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            角色设置
            <small>新建会员</small>
        </h1>
    </section>

    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header ">
                        <h3 class="box-title"></h3>
                    </div>
                    <form class="form-horizontal form-setting autoAjaxSubmit" autocomplete="off"
                          action="#(CPATH)/admin/club/doMemberSave"
                          method="POST"
                          data-ok-href="#(CPATH)/admin/club/member"
                    >
                        <input type="hidden" name="member.id" value="#(member.id ??)">
                        <div class="box-body ">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">用户的Id</label>

                                <div class="col-sm-6">
                                    <input type="input" name="member.user_id" class="form-control"
                                           value="#(member.user_id ??)"
                                           placeholder="用户的ID">
                                    <p class="help-block">
                                        可以点击 <a href="#(CPATH)/admin/user">这里</a> 查看到用户ID，然后进行复制填入。
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">会员</label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="member.type_id">
                                        #for(type : types)
                                        <option value="#(type.id)" #selectedIf(member && member.type_id == type.id)>#(type.title ??)</option>
                                        #end
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">加入时间</label>

                                <div class="col-sm-6">
                                    <input type="input" name="member.created" class="form-control datepicker"
                                           value="#(member.created ??)"
                                           placeholder="会员的加入时间">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">到期时间</label>

                                <div class="col-sm-6">
                                    <input type="input" name="member.duetime" class="form-control datepicker"
                                           value="#(member.duetime ??)"
                                           placeholder="该会员什么时候到期？">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">来源</label>

                                <div class="col-sm-6">
                                    <input type="input" name="member.create_source" class="form-control"
                                           value="#(member.create_source ??)"
                                           placeholder="来源">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">备注</label>
                                <div class="col-sm-6">
                             <textarea rows="5" name="member.remark" class="form-control"
                                       placeholder="...">#(member.remark ??)</textarea>
                                </div>
                            </div>

                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <div class="col-sm-offset-2 col-sm-10 submit-block">
                                <div class="box-submit">
                                    <button type="submit" class="btn btn-primary">提交</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-footer -->
                    </form>
                </div>
            </div>
        </div>

    </section>

</div>
#end
