#@layout()
#define script()
<script>

    $('.del-action').on('click', function () {
        var id = $(this).attr("data-id");
        ajaxGet("#(CPATH)/admin/club/doMtypeDel?id=" + id);
    });


</script>
#end
#define content()
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            会员组管理
            <small>Memeber Types</small>
        </h1>
    </section>

    <section class="content">

        <div class="row">
            <div class="col-lg-5">
                <div class="box box-primary">
                    <div class="box-header ">
                        <h3 class="box-title"></h3>
                    </div>
                    <!-- form start -->
                    <form class="form-horizontal form-setting autoAjaxSubmit" autocomplete="off"
                          action="#(CPATH)/admin/club/doMtypeSave"
                          data-ok-href="#(CPATH)/admin/club/mtype"
                          method="post">
                        <input type="hidden" name="mtype.id" value="#(mtype.id ??)">
                        <div class="box-body ">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">名称</label>

                                <div class="col-sm-9">
                                    <input type="input" class="form-control" placeholder="会员组（分类）的名称..."
                                           value="#(mtype.title ??)" name="mtype.title">
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-2 control-label">Icon</label>
                                <div class="col-sm-9">
                                    <input type="input" class="form-control" placeholder="..."
                                           value="#(mtype.icon ??)" name="mtype.icon">
                                    <p class="help-block"> 用于在帖子用户属性位置进行显示，一般由模板提供。 </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">链接</label>
                                <div class="col-sm-9">
                                    <input type="input" class="form-control" placeholder="..."
                                           value="#(mtype.link ??)" name="mtype.link">
                                    <p class="help-block"> 用户点击ICON可以连接到的地方，往往是一个解释此ICON会员组的介绍。 </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">标识</label>
                                <div class="col-sm-9">
                                    <input type="input" class="form-control" placeholder="..."
                                           value="#(mtype.flag ??)" name="mtype.flag">
                                    <p class="help-block"> 设立标识后，前台可以通过 <span style="color: red"> #('#if(hasMember("标识的名称"))') </span>来判断当前登录用户是否是该会员组成员。 </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">描述</label>
                                <div class="col-sm-9">
                                    <textarea rows="3" class="form-control"
                                              placeholder="..."
                                              name="mtype.description">#(mtype.description ??)</textarea>
                                </div>
                            </div>

                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <div class="col-sm-offset-2 col-sm-10 submit-block">
                                <div class="box-submit">
                                    <button type="submit" class="btn btn-primary">提交</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-footer -->
                    </form>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="box box-primary">

                    <div class="box-header with-border">

                    </div>

                    <div class="box-body no-padding ">

                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th style="width: 40%">名称</th>
                                <th>Icon</th>
                                <th>连接</th>
                                <th>描述</th>
                            </tr>
                            #for(mtype : types)
                            <tr class="jp-actiontr">
                                <td>
                                    <strong>
                                        <a href="#(mtype.url ??)" target="_blank">
                                           #(mtype.title ??)
                                        </a>
                                    </strong>
                                    <div class="jp-actionblock">
                                        <div class="jp-actionitem">
                                            <a href="#(CPATH)/admin/club/mtype/#(mtype.id)" >编辑</a> |
                                            <a href="javascript:;" class="del-action red-action" data-id="#(mtype.id)" >删除</a> |
                                            <a href="#(mtype.url ??)" target="_blank" class="red-action">查看</a>
                                        </div>
                                    </div>
                                </td>
                                <td>#(mtype.icon ??)</td>
                                <td>#(mtype.link ??)</td>
                                <td>#(mtype.description ??)</td>
                            </tr>
                            #end
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-12">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>

    </section>


</div>
#end
