#@layout()
#define script()
<script>

    $('.del-action').on('click', function () {
        var id = $(this).attr("data-id");
        if (confirm('确定要删除该版块吗？删除后不可恢复')) {
            ajaxGet("#(CPATH)/admin/club/doDelCategory?id=" + id);
        }
    });

</script>
#end
#define content()
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            版块管理
            <small>Post Category</small>
        </h1>
    </section>

    <section class="content">

        <div class="row">
            <div class="col-lg-5">
                <div class="box box-primary">
                    <div class="box-header ">
                        <h3 class="box-title"></h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form class="form-horizontal form-setting autoAjaxSubmit" autocomplete="off"
                          action="#(CPATH)/admin/club/doCategorySave"
                          data-ok-href="#(CPATH)/admin/club/category"
                          method="post">
                        <input type="hidden" name="category.id" value="#(category.id ??)">
                        <div class="box-body ">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">名称</label>

                                <div class="col-sm-9">
                                    <input type="input" class="form-control" placeholder="取个适合的分类名称..."
                                           value="#(category.title ??)" name="category.title">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">排序</label>
                                <div class="col-sm-9">
                                    <input type="input" class="form-control" placeholder="此分类排序的序号"
                                           value="#(category.order_number ??)"
                                           name="category.order_number">
                                    <p class="help-block"> 越小的数字越靠前。 </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">标识</label>
                                <div class="col-sm-9">
                                    <input type="input" class="form-control" placeholder="给该分类独立的标识"
                                           value="#(category.flag ??)" name="category.flag">
                                    <p class="help-block"> 给与特殊标识，一般用于模板读取。 </p>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-2 control-label">摘要</label>
                                <div class="col-sm-9">
                                    <textarea rows="3" class="form-control"
                                              placeholder="..."
                                              name="category.summary">#(category.summary ??)</textarea>
                                </div>
                            </div>


                            <h4 class="page-header">SEO</h4>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">描述</label>

                                <div class="col-sm-9">
                                    <textarea rows="3" class="form-control"
                                              placeholder="此内容会显示在搜索引擎的列表描述上..."
                                              name="category.meta_description">#(category.meta_description ??)</textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">关键字</label>
                                <div class="col-sm-9">
                                    <input type="input" class="form-control" placeholder="多个关键字用逗号隔开"
                                           name="category.meta_keywords"
                                           value="#(category.meta_keywords ??)">
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <div class="col-sm-offset-2 col-sm-10 submit-block">
                                <div class="box-submit">
                                    <button type="submit" class="btn btn-primary">提交</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-footer -->
                    </form>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="box box-primary">

                    <div class="box-header with-border">

                    </div>

                    <div class="box-body no-padding ">

                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th style="width: 40%">标题</th>
                                <th>排序</th>
                                <th>摘要</th>
                            </tr>
                            #for(category : categories)
                            <tr class="jp-actiontr">
                                <td>
                                    <strong>
                                        <a href="#(category.url ??)" target="_blank">
                                            #(category.title)
                                        </a>
                                        （#(category.count ?? 0)）
                                    </strong>
                                    <div class="jp-actionblock">
                                        <div class="jp-actionitem">
                                            <a href="#(CPATH)/admin/club/category/#(category.id)" >编辑</a> |
                                            <a href="javascript:;" class="del-action red-action" data-id="#(category.id)" >删除</a> |
                                            <a href="#(category.url ??)" target="_blank" class="red-action">查看</a>
                                        </div>
                                    </div>
                                </td>

                                <td>#(category.order_number ??)</td>
                                <td>#(category.summary ??)</td>
                            </tr>
                            #end
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-12">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>

    </section>


</div>
#end
