#@layout()

#define script()
<script>

    function trash(id) {
        ajaxGet("#(CPATH)/admin/club/doChangeStatus?status=trash&id=" + id);
    }

    function underReview(id) {
        ajaxGet("#(CPATH)/admin/club/doChangeStatus?status=under_review&id=" + id);
    }

    function normal(id) {
        ajaxGet("#(CPATH)/admin/club/doChangeStatus?status=normal&id=" + id);
    }

    function del(id) {
        if (confirm('确定要删除该帖子吗？删除后不可恢复')) {
            ajaxGet("#(CPATH)/admin/club/doDelPost?id=" + id);
        }
    }

    $("#batchDel").click(function () {
        var ids = getSelectedIds();
        if (ids == "") {
            alert('您未选择任何内容');
            return
        }
        if (confirm('确定要删除该帖子吗？删除后不可恢复')) {
            ajaxGet("#(CPATH)/admin/club/doDelPostByIds?ids=" + ids);
        }
    })

</script>

#end


#define content()
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            帖子管理
            <small>Post Management</small>
        </h1>
    </section>

    <section class="content-header text-tap">
        <a href="#(CPATH)/admin/club/post">全部 (#(totalCount ??))</a> |
        <a href="?status=normal">已发布 (#(normalCount ??))</a> |
        <a href="?status=under_review">未审核 (#(underReviewCount ?? 0))</a> |
        <a href="?status=trash" style="color: #a00">垃圾箱 (#(trashCount ?? 0))</a>
    </section>

    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <form class="form-horizontal actionPanel" action="#(CPATH)/admin/club/post" method="get">
                            <input type="hidden" name="status" value="#para('status')">
                            <div class="row">
                                <div class="form-group col-lg-4">
                                    <label class="col-sm-3 control-label">标题</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="title" value="#para('title')">
                                    </div>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label class="col-sm-3 control-label">分类</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" name="categoryId">
                                            <option value="">全部分类</option>
                                            #for(category : categories)
                                            <option value="#(category.id ??)" #selectedIf(category.isCheck)>
                                                #(category.title ??)
                                            </option>
                                            #end
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-lg-4">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-primary ">查询</button>
                                        <button type="reset" class="btn btn-default">重置</button>
                                        <a class="btn"> 更多<i class="fa fa-fw fa-angle-down"></i> </a>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </form>

                        <div class="row actionPanel">
                            <div class="col-xs-12">
                                <a href="#(CPATH)/admin/club/postWrite" class="btn btn-primary "> <i
                                        class="fa fa-fw fa-plus"></i> 新建</a>
                                <button type="button" id="batchDel" class="btn btn-default checkAction"> 批量删除</button>
                            </div>
                        </div>

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body ">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th style="width: 10px">
                                    <input name="dataItem" onchange="checkAll(this)" type="checkbox" value="0"/>
                                </th>
                                <th style="width: 450px">标题</th>
                                <th style="width: 150px">用户</th>
                                <th style="width: 150px">版块</th>
                                <th style="width: 100px">发布时间</th>
                            </tr>

                            #for(model : page.list)
                            <tr class="jp-actiontr">
                                <td><input class="dataItem" type="checkbox" value="#(model.id)" onchange="dataItemChange(this)"/>
                                </td>
                                <td>
                                    <strong>
                                        <a href="#(CPATH)/admin/club/postWrite/#(model.id)">#(model.title ??)</a>
                                        #if(model.isUnderReview())
                                        （未审核）
                                        #end
                                    </strong>
                                    <div class="jp-actionblock">
                                        #if(model.isNormal())
                                        <div class="jp-actionitem">
                                            <a href="#(CPATH)/admin/club/postWrite/#(model.id)" style="color: #006505">编辑</a> |
                                            <a href="javascript:;" onclick="underReview('#(model.id??)')" style="color: #006505">未审核</a>
                                            |
                                            <a href="javascript:;" onclick="trash('#(model.id??)')"
                                               style="color: #a00">垃圾箱</a> |
                                            <a href="#(model.url ??)" target="_blank" style="color: #a00">查看</a>
                                        </div>
                                        #elseif(model.isUnderReview())
                                        <div class="jp-actionitem">
                                            <a href="#(CPATH)/admin/club/postWrite/#(model.id)" style="color: #006505">编辑</a> |
                                            <a href="javascript:;" onclick="trash('#(model.id??)')" style="color: #a00">垃圾箱</a>
                                        </div>
                                        #else
                                        <div class="jp-actionitem">
                                            <a href="javascript:;" onclick="underReview('#(model.id??)')" style="color: #006505">还原</a>
                                            |
                                            <a href="javascript:;" onclick="del('#(model.id??)')"
                                               style="color: #a00">永久删除</a>
                                        </div>
                                        #end
                                    </div>
                                </td>
                                <td>#(model.user.nickname ??)</td>
                                <td>#(model.category.title ??)</td>
                                <td>#(model.created ??)</td>
                            </tr>
                            #end

                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                #@_paginate()
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>


</div>
#end
