#@layout()
#define script()
<script src="#(CPATH)/static/components/ckeditor/ckeditor.js"></script>
<script src="#(CPATH)/static/components/highlight/highlight.pack.js"></script>

<script>


    function doSubmit(status) {
        $("#postStatus").val(status);
        ajaxSubmit("#form", function (data) {
            $("#postId").attr("value", data.id);
            toastr.success('保存成功。');
        })
    }


    $("#submit").on("click", function () {
        doSubmit("normal");
    })

    $("#underreview").on("click", function () {
        doSubmit("under_review");
    })

    $("#trash").on("click", function () {
        doSubmit("trash");
    })


    initEditor('editor1', 467, "html");


</script>
#end
#define css()
<link href="#(CPATH)/static/components/editable/css/bootstrap-editable.css" rel="stylesheet">
<link href="#(CPATH)/static/components/selectize/css/selectize.css" rel="stylesheet">
<link href="#(CPATH)/static/components/selectize/css/selectize.jpress.css" rel="stylesheet">
<link href="#(CPATH)/static/components/highlight/styles/github.css" rel="stylesheet">
<link href="#(CPATH)/static/components/simplemde/simplemde.min.css" rel="stylesheet">
<link href="#(CPATH)/static/components/simplemde/simplemde.jpress.css" rel="stylesheet">
<style>
    .popover-content {
        padding: 9px 14px;
        margin: 0 10px;
    }

    #slug {
        cursor: pointer;
    }
</style>
#end

#define content()
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            写帖子
        </h1>
    </section>

    <section class="content">
        <form action="#(CPATH)/admin/club/doWriteSave" method="post" id="form">
            <input type="hidden" id="postStatus" name="post.status" value='#(post.status ?? "normal")'>
            <input type="hidden" id="postId" name="post.id" value="#(post.id ??)">
            <input type="hidden" name="post.user_id" value="#(post.user_id ?? USER.id)">
            <div class="row">
                <div class="col-lg-9">

                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="input" class="form-control input-lg" name="post.title"
                                       placeholder="请输入标题"
                                       id="article-title"
                                       value="#(post.title ??)">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12" style="z-index: 9999;">
                                <textarea id="editor1" name="post.content"
                                          style="height: 467px;width: 100%;background-color: white">#(post._getEditContent() ??)</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="box box-solid">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">属性设置</h3>

                                        <div class="box-tools">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body ">
                                        <div class="box-body ">

                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">允许评论</label>
                                                <div class="col-sm-6">
                                                    #if(post == null)
                                                    <input type="checkbox" checked class="switchery"
                                                           name="post.comment_enable" value="true">
                                                    #elseif(post.comment_enable ??)
                                                    <input type="checkbox" checked class="switchery"
                                                           name="post.comment_enable" value="true">
                                                    #else
                                                    <input type="checkbox" class="switchery"
                                                           name="post.comment_enable" value="true">
                                                    #end
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-3">
                    <div class="box box-solid">
                        <div class="box-body ">
                            <button type="button" id="submit" class="btn btn-primary btn-sm ">发布</button>
                            <button type="button" id="underreview" class="btn btn-default btn-sm ">未审核</button>
                            <a href="#" id="trash" class="pull-right" style="padding-top: 5px;">移至垃圾箱</a>
                        </div>
                    </div>

                    <div class="box box-solid">
                        <div class="box-header with-border ">
                            <h3 class="box-title">分类</h3>
                        </div>
                        <div class="box-body ">
                            <div class="form-group">
                                <select class="form-control" name="post.category_id">
                                    <option value="">未选择</option>
                                    #for(category : categories)
                                    <option value="#(category.id ??)" #selectedIf(category.isCheck)>
                                        #(category.title ??)
                                    </option>
                                    #end
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="box box-solid">
                        <div class="box-header with-border ">
                            <h3 class="box-title">置顶级别</h3>
                        </div>
                        <div class="box-body ">
                            <div class="form-group">
                                <select class="form-control" name="post.top_level">
                                    <option value="" >不置顶</option>
                                    <option value="1" #selectedIf(post && post.top_level == 1)>1（最高，所有版块显示）</option>
                                    <option value="2" #selectedIf(post && post.top_level == 2)>2（当前版块最高）</option>
                                    <option value="3" #selectedIf(post && post.top_level == 3)>3（普通置顶）</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="box box-solid">
                        <div class="box-header with-border ">
                            <h3 class="box-title">标题颜色</h3>
                        </div>
                        <div class="box-body ">
                            <div class="form-group">
                                <input type="text" class="form-control"
                                       name="post.title_color"
                                       placeholder="请输入" value="#(post.title_color ??)"/>
                            </div>
                        </div>
                    </div>

                    <div class="box box-solid">
                        <div class="box-header with-border ">
                            <h3 class="box-title">标题加粗</h3>
                        </div>
                        <div class="box-body ">
                            <div class="form-group">
                                <input type="text" class="form-control"
                                       name="post.title_bold"
                                       placeholder="请输入" value="#(post.title_bold ??)"/>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </section>

</div>
#end
