#@layout()
#define css()
<style type="text/css">
    .switchery-item {
        padding-bottom: 10px;
    }

    .switchery-item .switchery-small {
        margin-top: -2px;
        margin-right: 10px;
    }
</style>
#end

#define content()
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            文章设置
            <small>Article Setting</small>
        </h1>
    </section>

    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header ">
                        <h3 class="box-title"></h3>
                    </div>
                    <!-- form start -->
                    <form class="form-horizontal form-setting" autocomplete="off" id="optionForm">
                        <div class="box-body ">


                            <h4 class="page-first-header">功能开关</h4>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-6">
                                    <div class="switchery-item">
                                        <input type="checkbox" class="switchery" data-for="newpost_enable"
                                               #checkedIf(option("newpost_enable","true"))>
                                        <input type="hidden" id="newpost_enable" name="newpost_enable">
                                        开启发帖功能
                                    </div>

                                    <div class="switchery-item">
                                        <input type="checkbox" class="switchery"
                                               data-for="post_comment_enable" #checkedIf(option("post_comment_enable","true"))>
                                        <input type="hidden" id="post_comment_enable"
                                               name="post_comment_enable"> 开启回帖功能
                                    </div>

                                    <div class="switchery-item">
                                        <input type="checkbox" class="switchery"
                                               data-for="post_comment_vcode_enable" #checkedIf(option("post_comment_vcode_enable"))>
                                        <input type="hidden" id="post_comment_vcode_enable"
                                               name="post_comment_vcode_enable"> 开启回帖验证码功能
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <div class="col-sm-offset-2 col-sm-10 submit-block">
                                <div class="box-submit">
                                    <button type="submit" class="btn btn-primary">提交</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-footer -->
                    </form>
                </div>
            </div>
        </div>

    </section>

</div>
#end
